body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  transition: all 0.5s ease;
}

.jumbotron,
.btn-primary {
  background: mediumvioletred;
  color: white;
}

.card-header {
  background: dimgray;
  color: white;
}

.btn-primary {
  border: white;
  transition: all 0.5s ease;
}

.btn-primary:hover {
  cursor: pointer;
  background: mediumvioletred;
  opacity: 0.8;
}

#queryResults .card {
  border: none;
}

hr:last-child {
  display: none;
}

.jumbotron,
.card {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}
